 
table,
tr,
td,
th {
    border: solid black 0px;
    padding: 10px 20px;
    border-collapse: collapse;
    cursor: pointer;
}
table tr td{
    margin: 10px 2px;
}
th {
    background-color: #19B6F8;
    color: white;
}
.name {
    width: 100%;
}

#tb {
    width: 50%;
    margin: auto;
    overflow-x: auto; 
    border: 1px solid black;
}